$primary-color: #e97516;
$secondary-color: #168AE9;

$page-background-color-dark: #202427;
$page-background-color: #14171a;
// $page-background-color-dark: #000000;
// $page-text-color: #EAECEE;
// $page-text-color: #b2bec3;
$page-text-color: #cfdbe0;

$navbar-background-color: black;
$navbar-height: 70px;
$navbar-height-mobile: 50px;

// ================ Font sizes ====================

$main-title-font-size:2.75rem;
$header-1-font-size:2.5rem;
$header-2-font-size:1.5rem;
$header-3-font-size:1.1rem;
$text-font-size: 1.1rem;