@import "./variables";

:export {
    pageBackgroundColor: $page-background-color;
    pageBackgroundColorDark: $page-background-color-dark;
    primaryColor: $primary-color;
    pageTextColor: $page-text-color
}