.my-navbar {
    background-color: $page-background-color !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none !important;
    min-height: $navbar-height;
}

.nav-link.active {
    border-bottom: 2px solid;
    border-color: $primary-color;
    border-radius: 0px;
    color: $primary-color !important;
}


@media only screen and (max-width: 600px) {
    .my-navbar {
        border: none !important;
        min-height: $navbar-height-mobile;
    }
}