.project-card {
    background-color: $page-background-color;
    color: $page-text-color;
    border-bottom: 3px solid $primary-color;
}

.project-icon {
    font-size: 25px;
}

.project-link-a {
    color: inherit;
}

.project-link-icon {
    font-size: 25px;
}

.project-link-icon:hover {
    color: $primary-color;
    cursor: pointer;
}