.bg-primary {
    background-color: $primary-color !important;
}

.btn {
    display: inline !important;
}

.btn-primary {
    background-color: $primary-color !important;
    border: $primary-color !important;
}

.btn-primary:hover {
    background-color: $page-text-color !important;
    color: $primary-color !important;
    transition: 0.5s;
}

.my-hr {
    // background-color: $primary-color !important;
    height: .25rem;
    border-radius: .5rem;
    border-color: $primary-color !important;
    color: $primary-color !important;
    background-color: $primary-color !important;
    border-style: solid;
    width: 2rem;
}

.my-vr {
    // background-color: $primary-color !important;
    // border-left: 1px solid $primary-color !important;
    color: $primary-color !important;
    background-color: $primary-color !important;
    height: 80px;
    width: 1px;

    // position: absolute;
    // bottom: 0px;
    // left: 50px;
}

.social-icons-container {
    position: absolute;
    bottom: 0px;
    left: 50px;
}

// .social-icon-a{

// }

.social-icon {
    font-size: 20px;
    cursor: pointer;
}

.social-icon-a:hover {
    transform: translateY(-10%);
    color: $primary-color !important;
}

.social-icon:hover {
    // transform: translateY(-10%);
    color: $primary-color !important;
}

.social-icons-div {
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    .social-icons-container {
        display: none;
    }
}