.main-title {
    font-size: $main-title-font-size;
    font-weight: bold;
    display: block;
}

.header-1 {
    font-size: $header-1-font-size;
    font-weight: bold;
    display: block;
}

.header-2 {
    font-size: $header-2-font-size;
    font-weight: bold;
    display: block;
}

.header-3 {
    font-size: $header-3-font-size;
    font-weight: bold;
    display: block;
}

.text {
    font-size: $text-font-size;
}

.text-primary {
    color: $primary-color !important;
}