@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/typography.scss";
@import "./styles/theme.scss";
@import "./styles/scrollbar.scss";
@import "./styles/navbar.scss";
@import "./styles/projects.scss";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.app {
  background-color: $page-background-color;
}

.main {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100% !important;
}

.page-container {
  background-color: $page-background-color;
  color: $page-text-color;
  min-height: calc(100vh - $navbar-height);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.page-container-dark {
  background-color: $page-background-color-dark;
  color: $page-text-color;
  min-height: calc(100vh - $navbar-height);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media only screen and (max-width: 600px) {
  .main {
    top: $navbar-height-mobile;
  }

  .page-container {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: calc(100vh - $navbar-height-mobile);
  }

  .page-container-dark {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: calc(100vh - $navbar-height-mobile);
  }
}